// Footer section start

.footer {
	&__inner {
		background-color: #191919;
		color: $color-white;
		padding: 64px;
		border-radius: 12px;

		@include max-1199 {
			padding: 55px 45px;
		}

		@include max-767 {
			padding: 40px;
		}

		@include max-575 {
			padding: 40px 25px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			text-align: center;
		}

		.row {
			padding-bottom: 46px;

			@include max-991 {
				gap: 40px 0;
			}

			@include max-575 {
				padding-bottom: 30px;
			}
		}

		&_about {
			@include max-575 {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: flex-start;
			}
			img {
				max-width: 100%;
				height: auto;
			}

			p {
				color: $color-white;
				font-weight: 500;
				padding: 24px 0;

				@include max-991 {
					padding: 25px 0;
				}

				@include max-575 {
					padding: 20px 0 30px 0;
					text-align: left;
				}

				br {
					@include max-767 {
						display: none;
					}
				}
			}

			.footer-ourcompany {
				padding: 15px 32px;
				border: 1px solid #333333;
				border-radius: 16px;
				width: fit-content;
				display: flex;
				align-items: center;
				gap: 10px;

				@include max-991 {
					padding: 20px;
				}

				@include max-767 {
					display: block;
				}

				@include max-575 {
					padding: 15px;
					display: flex;
				}

				p {
					font-weight: 500;
					color: $color-white;
					padding: 0px 0px 0px 0px;

					img {
						width:35px;
						height:35px;
					}

					@include max-767 {
						padding-bottom: 10px;
					}

					@include max-575 {
						padding-bottom: 0;
					}
				}

				img {
					height: unset;
				}
			}
		}

		h3 {
			font-size: 20px;
			line-height: 26px;
			font-weight: 700;
			color: $color-white;
			
			@include min-1400 {
				font-size: 22px;
				line-height: 28px;
			}

			@include max-425 {
				font-size: 18px;
			}
		}
	}
}

.footer__inner {
	.content-end {
		display: flex;
		justify-content: end;
		height: fit-content;

		@include max-991 {
			justify-content: start;
		}

		@include max-575 {
			justify-content: center;
		}
	}
}

.footer__inner_menus {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@include max-991 {
		gap: 30px;
		align-items: center;
	}

	@include max-575 {
		align-items: flex-start;
		gap: 20px;
	}

	ul {
		padding: 0;
		list-style: none;

		li {
			display: flex;
			justify-content: start;

			@include max-575 {
				padding-left: 0;
				justify-content: flex-start;
			}

			&:not(:last-child) {
				padding-bottom: 12px;
			}

			a {
				font-weight: 400;
				text-decoration: none;
				color: $color-white;

				&:hover {
					opacity: 0.7;
					transition: all 0.2s ease;
				}
			}
		}
	}
}

.footer-social {
	display: flex;
	padding-top: 24px;

	@include max-575 {
		justify-content: center;
	}

	a {
		margin-right: 12px;
		transition: background-color 0.3s ease;
		background-color: #262626;
		padding: 14px;
		border-radius: 12px;
		width: 48px;
		height: 48px;
		display: flex;
		align-items: center;
		justify-content: center;

		&:hover {
			background-color: #555;
		}

		i::before {
			margin: 0;
			padding: 0;
			font-size: 18px;
			color: $color-white;
			width: fit-content;

			@include min-1400 {
				font-size: 22px;
			}

			@include max-991 {
				padding: 12px;
			}

			@include max-767 {
				padding: 10px;
			}
		}
	}
}

.footer__inner_right {
	display: flex;
	flex-direction: column;
	gap: 40px;

	@include max-1199 {
		flex-wrap: wrap-reverse;
	}

	@include max-991 {
		gap: 25px;
	}

	@include max-575 {
		align-items: flex-end;
		justify-content: center;
		gap: 20px;
	}
}

.footer__inner_contact {
	display: flex;
	flex-direction: column;
	gap: 16px;
	@include max-575 {
		text-align: start;
	}
	&-field {
		display: flex;
		align-items: center;
		gap: 7px;

		&:nth-child(3) {
			align-items: baseline;
			@include max-991 {
				br {
					&:first-child {
						display: none;
					}
				}
			}
		}

		br {
			@include max-575 {
				display: none;
			}
		}

		i {
			font-size: 16px;
		}

		a {
			color: $color-white;
			font-weight: 400;
			@include max-991 {
				font-size: 16px;
				line-height: 24px;
			}
			@include max-425 {
				font-size: 14px;
				line-height: 20px;
			}
			&:hover {
				text-decoration: underline;
				font-weight: 400;
			}
		}
	}
}

.footer__inner_bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 24px 0 0 0;
	font-size: 12px;
	background-color: #191919;
	border-top: 1px solid #262626;
	flex-wrap: wrap;
	gap: 10px 30px;

	@include max-991 {
		justify-content: center;
	}

	span {
		font-weight: 500;
		color: rgba($color-white, 0.8);
		text-align: center;
		width: fit-content;

		@include max-991 {
			order: 1;
		}
	}

	a {
		font-weight: 500;
		color: rgba($color-white, 0.8);
		text-decoration: none;
		transition: color 0.3s ease;
		width: fit-content;

		&:hover {
			color: rgba($color-white, 0.6);
		}
	}
}